.parent{
    display: flex;
    justify-content:end;
    

}

p{
    display: inline;
    margin-bottom: 0px;
    margin-right: 100px;
    margin-top: 0px;
}

div{
    background-color: red;
    color: red;
    width: 20px;
    border-radius: 50px;
    position: absolute;
    left: 10px;
}