body {
    background: linear-gradient(to bottom right, pink, purple);
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.element {
    background-color: orange;
    font-weight: 900px;
    text-align: center;
    font-size: 2rem;

}

.element3 {
    grid-column: 1/9;
    grid-row: 4;
}