body{
    background-color: orange;
}

h1{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 20px;
}

input{
    padding: 10px;
    width:-webkit-fill-available;
}

.submit{
    background-color: rgb(225, 225, 34);
    padding: 10px;
}

textarea{
    width: -webkit-fill-available;
}