* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.ahmad {
  display: grid;
  grid-template-columns: 50% 50%;
}

th,
td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
