div{
    border-bottom: 40px solid pink;
    border-top: 40px solid blue;
    text-align: center;

}

button{
    padding: 10px 40px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

span{
    font-size: xx-large;
    font-weight: 700;
}