.parent{
    width: 500px;
    height: 300px;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.child{
    background-color: aquamarine;
    text-align: left;
    width: 125px;
    height: 30px;
    padding: 10px;
    position: absolute;
    top: 150px;
}