body{
    background-color: aquamarine;
}

p{
    color: red;
    background-color: aliceblue;
}

.one-image{
    background-image: url(iamges/one-image.jpg);
    color: white;
}

.two-image{
    background-image: url(iamges/two-image.jpg), url(iamges/two-image2.avif);
    color: white;
}