body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 20px;
    background-color: #f4f4f4;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 60%;
  }
  
  .grid-container img {
    width: 100%;
    height: auto;
   
  }