
.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid gold;
    color: white;
    gap:10px

}

.div{
    padding: 5px;
    margin: 5px;
    font-size: xx-large;
    text-align: center;
    width: 28%;
}

#div1{
    background-color: green;
}

#div2{
    background-color: blue;
}

#div3{
    background-color: purple;
}

#div4{
    background-color: rgb(73, 73, 111);
}

#div5{
    background-color: #808022;
}

#div6{
    background-color: orange;
}

#div7{
    background-color: red;
}

#div8{
    background-color: gray;
}

#div9{
    background-color:rgb(66, 114, 66) ;
}

#div10{
    background-color: rgb(9, 43, 9);
}